/* GLOBAL //////////////////////////////////////////////////*/
:root {
    --green: #2F4B3F;
    --light-green: #339944;
    --light-green_hover: #3aaf4e;
    --lighter-green: #7BD389;
    --red-light: #FA9F9E;
    --red: #e92929;
    --bodyAndFooterColor: #f0f2f5;
    --modal-color: #F2F0f5;
    --dark-blue: #363f5f;
    --data-table: #969cb3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 87.5%;
}

body {
    background: var(--bodyAndFooterColor);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    /* As configurações abaixo são para esconder essa classe da tela, mas sem alterar o valor com relação aos leitores de tela. Não precisa entender tudo, essa dica foi tirada do site  CSS TRICKS */
    position: absolute;
    width: 1px;
    height: 1px; 
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* HEADER //////////////////////////////////////////////////*/
header {
    background: var(--green);  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, var(--green), var(--light-green)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(180deg, var(--green), var(--light-green)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    /* 1.8 no topo, 0 nas laterais e 10 no bottom */
    padding: 1.8rem 0 10rem;
}


/*  MAIN ////////////////////////////////////////////////////*/
.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}

#balance {  
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: -7.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    /* border: 0.009rem solid #000; */
    padding: 1.5rem 2rem;
    border: 0.01rem solid #000;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: #363f5f;
}

.card.income {
    background: var(--lighter-green);
    background: -webkit-linear-gradient(180deg, rgb(247, 240, 239), var(--lighter-green));
    background: linear-gradient(180deg, rgb(247, 240, 239), var(--lighter-green));
}

.card.expense {
    background: var(--red);
    background: -webkit-linear-gradient(180deg, rgb(247, 240, 239), var(--red-light));
    background: linear-gradient(180deg, rgb(247, 240, 239), var(--red-light));

}


.card.total {
    background: #fff; 
}

.fundoAzul {
    background: blue;
}

.card h3 {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-style: italic;
    font-size: 1.3rem;
}

.card p {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 1rem;
}

#transaction a {
    text-decoration: none;
    color: var(--light-green); 
    font-size: 1.2rem;
}

a:hover {
    color: var(--lighter-green);
}

#transaction {
    /* para rolagem do elemento (horizontal) caso não caiba na tela, rolando através de um scroll padrão mas sem rolar o restante da tela, mas somente o elemento #transaction */
    display: block;
    overflow-x: auto;
    margin-top: 0.7rem;
}


/* MAIN TABLE ////////////////////////////////////////////////////*/
#data-table {
    width: 100%;
    /* espaço entre vertical e horizontal para as bordas da tabela */
    border-spacing: 0 0.5rem;
    color: var(--data-table);
    margin-top: 1rem;
}

table thead th:first-child, 
table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25rem; 
}

table thead th:last-child,
table tbody td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: #fff;
    text-align: left;
    font-weight: normal;
    padding: 0.5rem 2rem;
}

table tbody td {
    background: #fff;
    text-align: left;
    font-weight: normal;
    padding: 1rem 2rem;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

.pointer {
    cursor: pointer;
}

.incomeTable {
    color: var(--light-green);
}

.expenseTable {
    color: var(--red);
}


/* MODAL //////////////////////////////////////////////////*/
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    background-color: var(--modal-color);
    padding: 2.4rem;
}

#form {
    width: 90vw;
}

#form h2 {
    font-weight: 400;
    margin-top: 0;
}

input {
    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.input-group.actions.button,
.input-group.actions button {
    width: 48%;
}

.input-group.actions .button {
    border: 2px solid var(--red);
    color: var(--red);
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    text-decoration: none;
}

.input-group.actions .button:hover {
    opacity: 1;
}

.input-group.actions button {
    width: 45%;
    height: 50px;
    font-size: 1.1rem;
    background: var(--light-green);
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0px;
}

.input-group.actions button:hover {
    background-color: var(--light-green_hover);
}


/* FOOTER //////////////////////////////////////////////////*/
footer {
    color: var(--dark-blue);
    font-size: 1rem;
    text-align: center;
    opacity: 0.6;
    padding: 4rem 0 2rem;
}


/* RESPONSIVE //////////////////////////////////////////////////*/
@media(min-width: 1200px) {
    /*  MAIN ////////////////////////////////////////////////////*/
    #balance {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: -5.5rem;
        width: 75vw;
    }

    .card {
        margin: 1rem;
        min-width: 30%;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    #transaction a {
        font-size: 1.25rem;
        margin-top: 2rem;
    }

    #transaction {
        width: 55vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #data-table {
        margin-top: 1rem;
    }
}


 /*  FORM ////////////////////////////////////////////////////*/
@media(min-width: 600px) {
    #form {
        width: 60vw;
    }
}

@media(min-width: 1000px) {
    #form {
        width: 50vw;
    }
}

@media(min-width: 1235px) {
    #form {
        width: 40vw;
    }
}


@media(max-width: 1200px) {
    #transaction {
        width: 70vw;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

@media(max-width: 720px) {
    #balance {
        width: 65vw;
    }
}

@media(max-width: 445px) {
    #balance {
        width: 85vw;
    }
} 
